@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Pattaya&family=Roboto&display=swap');
@import "~normalize.css";
@import "formula";
@import "header";
@import "toolbar";
@import "table";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
 font-family : 'Roboto' , sans-serif;
 font-size: 12px;
}

.excel{
    position: relative;
    
}
