@import "variables";
@import "mixins";

.excel__toolbar{
    position: absolute;
    top: $header-height;
    left: 0;
    right: 0;
    height: $toolbar-height;
    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;
    padding: 7px 10px;
    display: flex;
    justify-content: space-around;
    .btn {
        @include btn(green)
    }
}